<!DOCTYPE html>
<html>
<head>
    <title>Jaxssson's blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include('./includes/header.ejs', {header: header}) %>
<h1>Jaxssson's blog</h1>
<p>Welcome to Jaxssson's blog</p>
<%- include('./includes/footer.ejs', {footer: footer}) %>
</body>
</html>
